/* @import "../../.cache/wal/colors-waybar.css"; */
@import "colors.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    all: unset;
    font-family: SF Pro Text;
    font-size: 12.5px;
    font-weight: 500;
    /* transition: all 0.5s ease-in-out; */
}

window#waybar {
    background-color: alpha(@background, 0.25);
    border: 2px solid alpha(@outline, 0.05);
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
}

tooltip {
    background-color: alpha(@primary_container, 0.25);
    color: alpha(lighter(@on_primary_container), 0.85);
    border-radius: 10px;
    border: 2px solid alpha(@outline, 0.03);
    transition: all 0.5s ease-in-out;
}

tooltip lable {
    color: alpha(lighter(@on_primary_container), 1);
    transition: all 0.5s ease-in-out;
}

#workspaces {
    background-color: alpha(@primary_container, 0.55);
    color: alpha(@on_primary_container, 0.85);
    border: 2px solid alpha(@outline, 0.2);
    border-radius: 10px;
    padding: 0 5 0 5px;
    margin: 4 4px;
    transition: all 0.15s ease-in-out;
}

#workspaces button {
    padding: 0 3px;
    border: 2px solid alpha(@outline, 0);
    transition: all 0.25s ease-in-out;
}
/* 
#workspace button.hover {
    padding: 0 14px;
} */

#workspaces button.active {
    background-color: alpha(@secondary_container, 0.6);
    color: alpha(lighter(@on_secondary_container), 1);
    border: 2px solid alpha(@outline, 0.15);
    margin: 0 3px;
    padding: 0 12px;
    border-radius: 7px;
    transition: all 0.15s ease-in-out;
}

#workspaces button.urgent {
    background-color: alpha(@error_container, 0.6);
    color: alpha(lighter(@on_error_container), 1);
    border: 2px solid alpha(@outline, 0.15);
    font-size: 14px;
    margin: 0 3px;
    padding: 0 12px;
    border-radius: 7px;
    transition: all 0.15s ease-in-out;
}

#clock {
    background-color: alpha(@primary_container, 0.55);
    color: alpha(@on_primary_container, 0.7);
    border: 2px solid alpha(@outline, 0.2);
    margin: 4 4px;
    padding: 0 10 0 10px;
    font-family: SF Pro Text;
    font-weight: 700;
    font-size: 13.5px;
    border-radius: 10px;
    transition: all 0.25s ease-in-out;
}

#clock:hover {
    /* color: alpha(@on_primary_container, 0.7);
    font-size: 13;
    font-weight: 900; */
    padding: 0 15;
}

#tray {
    background-color: alpha(@primary_container, 0.55);
    color: alpha(@on_primary_container, 0.85);
    border: 2px solid alpha(@outline, 0.2);
    margin: 4 2px;
    padding: 0 8 0 8px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

#tray menu {
    background-color: alpha(@background, 0.25);
    color: alpha(lighter(@on_primary_container), 0.85);
    border: 2px solid alpha(@background, 0.03);
    margin: 6 6px;
    padding: 6 6px;
    border-radius: 10px;
    /* transition: all 0.15s ease-in-out; */
}

#tray menu menuitem {
    background-color: alpha(@primary_container, 0.55);
    color: alpha(@on_primary_container, 0.85);
    border: 2px solid alpha(@outline, 0);
    margin: 0 2px;
    padding: 2 6px;
    border-radius: 4px;
    transition: all 0.15s ease-in-out;
}

#tray menu menuitem:hover {
    background-color: alpha(@primary_container, 0.1);
    color: alpha(@on_primary_container, 0.95);
    border: 2px solid alpha(@outline, 0.09);
    /* margin: 2 4px; */
    transition: all 0s ease-in-out;
}

#idle_inhibitor {
    /* background-color: transparent; */
    /* color: alpha(@on_primary_container,.85); */
    /* border: 2px solid alpha(@outline,0.2); */
    /* margin: 4 1px; */
    padding: 0 10 0 4px;
    /* border-radius: 10px; */
    transition: all 0.5s ease-in-out;
}

#pulseaudio {
    padding: 0 5 0 2px;
    transition: all 0.5s ease-in-out;
}

#pulseaudio-slider {
    padding: 0;
    margin: 0 2 0 9px;
    transition: all 0.2s ease-in-out;
}
#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
    transition: all 0.2s ease-in-out;
}
#pulseaudio-slider trough {
    min-height: 5px;
    min-width: 100px;
    border-radius: 5px;
    border: 1px solid alpha(@outline, 0.1);
    background: alpha(@outline, 0.25);
    transition: all 0.2s ease-in-out;
}
#pulseaudio-slider highlight {
    /* border: 2px solid alpha(@outline,0.2); */
    min-width: 0px;
    border-radius: 5px;
    background: alpha(@on_primary_container, 0.65);
    transition: all 0.2s ease-in-out;
}

#group-pulseaudio {
    background-color: alpha(@primary_container, 0.55);
    color: alpha(@on_primary_container, 0.85);
    border: 2px solid alpha(@outline, 0.2);
    margin: 4 1px;
    padding: 0 7px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

#group-pulseaudio:hover {
    font-weight: 900;
}

#pulseaudio-slider trough:hover {
    min-height: 3px;
    transition: all 0.2s ease-in-out;
}

#backlight {
    transition: all 0.2s ease-in-out;
    padding: 0 4 0 0px;
}

#backlight-slider {
    padding: 0;
    margin: 0 2 0 9px;
    transition: all 0.2s ease-in-out;
}
#backlight-slider slider {
    background: alpha(#1db954, 0);
    min-height: 5px;
    min-width: 2px;
    background-image: none;
    border: none;
    box-shadow: none;
    transition: all 0.2s ease-in-out;
}
#backlight-slider trough {
    min-height: 5px;
    min-width: 80px;
    border-radius: 5px;
    background: alpha(@outline, 0.25);
    transition: all 0.2s ease-in-out;
}
#backlight-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background: alpha(lighter(@on_primary_container), 0.55);
    transition: all 0.2s ease-in-out;
}

#group-backlight {
    background-color: transparent;
    color: alpha(@on_primary_container, 0.85);
    border: 2px solid alpha(@outline, 0.2);
    margin: 4 1px;
    padding: 0 8px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

#backlight-slider slider:hover {
    min-height: 10px;
    transition: all 0.2s ease-in-out;
}

#custom-power {
    background-color: alpha(@primary_container, 0.55);
    color: alpha(@on_primary_container, 0.85);
    border: 2px solid alpha(@outline, 0.2);
    margin: 4 4px;
    padding: 0 6px;
    border-radius: 100px;
    transition: all 0.5s ease-in-out;
}

#custom-power:hover {
    background-color: alpha(@error_container, 0.2);
    border: 2px solid alpha(@error_container, 0.2);
    color: alpha(@on_error_container, 1);
    transition: all 0.5s ease-in-out;
}

#power-profiles-daemon {
    background-color: alpha(@primary_container, 0.55);
    color: alpha(@on_primary_container, 0.85);
    border: 2px solid alpha(@outline, 0.2);
    margin: 4 1px;
    padding: 0 10 0 8px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

#cava {
    background-color: transparent;
    color: alpha(@on_primary_container, 0.85);
    border: 2px solid alpha(@outline, 0.2);
    margin: 4 1px;
    padding: 0 7px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

#custom-spotify {
    background-color: alpha(#1db954, 0);
    color: alpha(@on_primary_container, 0.85);
    border: 2px solid alpha(@outline, 0);
    font-weight: 700;
    font-size: 13.5px;
    margin: 4 1px;
    padding: 0 4 0 0px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

#group-display {
    background-color: transparent;
    color: alpha(@on_primary_container, 0.85);
    border: 2px solid alpha(@outline, 0.2);
    margin: 4 1px;
    padding: 0 5px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

#custom-hyprsunset {
    margin: 0 10 0 9px;
    font-size: 16px;
}
#custom-spotify-icon {
    padding: 0 7 0 0px;
}